

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.tessera{
    width: 100px;
    margin: 2px;
    display: flex;
    align-items: center;
    /* justify-content: center; */

    /* background-color: rgb(255, 0, 0); */
}

.cont-input{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

input{
    width: 20%;
}
button{
    width: 60px;
    margin-left: 10px;
}