/* roboto */
/* 


font-family: 'Roboto', sans-serif;

*/

/* :root{ */
    /* var(--w-colonna) */
    /* --w-colonna: 130px; */
    
/* } */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 30px;
}
.container{
    /* width: calc(100vw - 100px); */
    /* height: calc(100vh - 100px); */

    display: flex;
    flex-wrap: wrap;
    /* margin: 20px; */

    background-color: blue;
}

.tessera{
    width: 100px;
    height: 100px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(255, 0, 0);
}
